@model democode.Models.User
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Profile";
    var courseJson = System.IO.File.ReadAllText("courses.json");
    var courses = courseJson != null ? JsonConvert.DeserializeObject<List<Course>>(courseJson) : null;
}



<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<table class="col-4">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach(var c in courses)
    {
        if(c.Students.Contains(Model.Name))
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Name</td>
            </tr>
        }
       
    }

</table>
<div>
    <a asp-action="Update" asp-controller="User" asp-route-id="@Model.Id">Update</a>
</div>
